html {background-color:rgb(44, 42, 44)}
            h1 {color: rgb(51, 88, 119);
                font-size: 3em;
                text-align: center;}
            .hero {background-color: rgb(118, 121, 124);
            background-image: url(../img_6467.jpg);
            width: 80vw;
            height: 75vh;
            background-size: cover;
            padding-top: 5vh;
            margin: 10vw;}
            div {width: 50vw;
                color: white;}
            p {
                display: flex;
                flex-direction: column;
                text-align: center;
            font-size: 1em;
            padding-left: 150px;}
            .con{
                text-align: center;
                font-size: 1.2em;
                padding-left: 175px;
                margin-bottom: 45px;
                margin-left: 230px;
                margin-right: -150px;
            }
            .fam{
                display: flex;
                flex-direction: row;
                background-color: rgb(51, 88, 119);
                width: 70vw;
                height: 90vh;
                margin-bottom: 25vh;
            }
            span{
                color: white;
                margin-top: 15vh;
                text-align: center;
                font-size: 1.2em;
            }
            .pic {
                width: 65vw;
                height: 75vh;
                margin: 10vw;
                margin-bottom: 25vh;
            }
        
            .home {display: flex;
            flex-direction: row;
            flex: 1;
            padding-bottom: 5vh;
        }
           .home-wrap {
               overflow: hidden;
               max-width: 960px;
               margin: auto;
           }
            .par {
                box-sizing: border-box;
                float: left;  
                font-size: 1.2em;  
            }